.hero{
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-3-Desktop-LHD-v2.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.obtn{
    width: 20rem;
    height: 40px;
    align-content: center;
}
.hero2{
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-Y-Desktop-Global.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.hero3{
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-X-Desktop-v2.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.hero4{
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-S-Desktop-v2.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.hero5{
    background-image: url('https://digitalassets.tesla.com/discovery-tesla-com/image/upload/f_auto,q_auto/Homepage-Cybertruck-Desktop.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.hero6{
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-SolarPanels-01-Desktop');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.hero7{
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/Homepage-SolarRoof-Desktop-Global');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.hero8{
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Powerwall-01-Desktop.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.hero9{
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Accessories-Desktop-NA-APAC.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}